openapi: 3.0.3
info:
  title: Guartrix API
  version: "1.0.51"
  description: |
    Machine-readable surface for the Guartrix panel.

    - **Client API** — personal keys (`Authorization: Bearer gt_…`)
    - **Application API** — admin/billing keys (`Authorization: Bearer gta_…`)
    - Session cookie routes (CSRF Origin required) are listed where relevant
    - Errors prefer `{ error, code?, details? }` (see `http-error.ts`)

    Human docs: [Client API](wiki/client-api.md), [Application API](wiki/application-api.md).
servers:
  - url: https://guartrix.com
    description: Production panel origin
tags:
  - name: Client
  - name: Application
  - name: Account
  - name: Health
  - name: Metrics
components:
  securitySchemes:
    ClientApiKey:
      type: http
      scheme: bearer
      bearerFormat: gt_
      description: Personal Client API key
    ApplicationApiKey:
      type: http
      scheme: bearer
      bearerFormat: gta_
      description: Application / billing machine key
    SessionCookie:
      type: apiKey
      in: cookie
      name: sessionId
    MetricsToken:
      type: http
      scheme: bearer
      description: |
        `METRICS_TOKEN` as Bearer or `?token=`. If unset, only loopback peers
        (127.0.0.1 / ::1) — X-Forwarded-For is ignored.
  parameters:
    ServerId:
      name: id
      in: path
      required: true
      schema: { type: string }
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
        code: { type: string }
        details: {}
paths:
  /api/health:
    get:
      tags: [Health]
      summary: Liveness probe (process up)
      responses:
        "200":
          description: "{ ok: true }"
  /api/ready:
    get:
      tags: [Health]
      summary: Readiness probe (DB + optional local daemon)
      responses:
        "200":
          description: "{ ok: true }"
        "503":
          description: Database or local daemon unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/nodes:
    get:
      tags: [Client]
      summary: List nodes with capacity (usable RAM after host reserve)
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      responses:
        "200":
          description: "{ nodes: DaemonNode[] }"
  /api/servers:
    get:
      tags: [Client]
      summary: List visible servers
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      responses:
        "200":
          description: Server list (array or `{ servers }`)
  /api/servers/{id}:
    get:
      tags: [Client]
      summary: Server detail
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "200":
          description: Server detail + permissions
  /api/servers/{id}/start:
    post:
      tags: [Client]
      summary: Start server
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "200":
          description: OK
  /api/servers/{id}/stop:
    post:
      tags: [Client]
      summary: Stop server
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "200":
          description: OK
  /api/servers/{id}/restart:
    post:
      tags: [Client]
      summary: Restart server
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "200":
          description: OK
  /api/servers/{id}/kill:
    post:
      tags: [Client]
      summary: Force-kill server
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "200":
          description: OK
  /api/servers/{id}/files:
    get:
      tags: [Client]
      summary: List files
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
        - name: path
          in: query
          schema: { type: string, default: "." }
      responses:
        "200":
          description: File listing
    delete:
      tags: [Client]
      summary: Delete file or folder
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
        - name: path
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
  /api/servers/{id}/files/content:
    get:
      tags: [Client]
      summary: Read text file
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
        - name: path
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: File content JSON
    put:
      tags: [Client]
      summary: Write text file
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [path, content]
              properties:
                path: { type: string }
                content: { type: string }
      responses:
        "200":
          description: Saved
  /api/servers/{id}/files/download:
    get:
      tags: [Client]
      summary: Download a file
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
        - name: path
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Binary stream
  /api/servers/{id}/files/download-zip:
    post:
      tags: [Client]
      summary: Stream a zip of selected paths (no temp file on node)
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [paths]
              properties:
                paths:
                  type: array
                  items: { type: string }
      responses:
        "200":
          description: application/zip stream
  /api/servers/{id}/tasks:
    get:
      tags: [Client]
      summary: List schedules
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "200":
          description: `{ tasks }`
    post:
      tags: [Client]
      summary: Create schedule (daily / weekly / interval + steps)
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "201":
          description: Created
  /api/account/api-keys:
    get:
      tags: [Account]
      summary: List own API keys (session only)
      security: [{ SessionCookie: [] }]
      responses:
        "200":
          description: Key metadata (no secrets)
    post:
      tags: [Account]
      summary: Create API key — token shown once
      security: [{ SessionCookie: [] }]
      responses:
        "201":
          description: `{ key, token }`
  /api/account/api-keys/{id}:
    delete:
      tags: [Account]
      summary: Revoke API key
      security: [{ SessionCookie: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Revoked
  /api/application/users:
    get:
      tags: [Application]
      summary: List users
      security: [{ ApplicationApiKey: [] }]
      responses:
        "200":
          description: Users
    post:
      tags: [Application]
      summary: Create user
      security: [{ ApplicationApiKey: [] }]
      responses:
        "201":
          description: Created user
  /api/application/users/{id}:
    patch:
      tags: [Application]
      summary: Update user quotas / role
      security: [{ ApplicationApiKey: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Updated
  /api/application/servers:
    get:
      tags: [Application]
      summary: List all servers
      security: [{ ApplicationApiKey: [] }]
      responses:
        "200":
          description: Servers
    post:
      tags: [Application]
      summary: Create server for an owner
      security: [{ ApplicationApiKey: [] }]
      responses:
        "201":
          description: Created
  /api/application/plans:
    get:
      tags: [Application]
      summary: List plan templates
      security: [{ ApplicationApiKey: [] }]
      responses:
        "200":
          description: Plans
    post:
      tags: [Application]
      summary: Create plan template
      security: [{ ApplicationApiKey: [] }]
      responses:
        "201":
          description: Created
  /api/application/payments:
    get:
      tags: [Application]
      summary: List payments
      security: [{ ApplicationApiKey: [] }]
      responses:
        "200":
          description: Payments
  /api/metrics:
    get:
      tags: [Metrics]
      summary: Prometheus metrics (text exposition)
      description: Same handler as `/metrics`.
      security: [{ MetricsToken: [] }]
      responses:
        "200":
          description: Prometheus text format
        "401":
          description: Missing or invalid token (when METRICS_TOKEN is set)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /metrics:
    get:
      tags: [Metrics]
      summary: Prometheus metrics (alias)
      description: Same handler as `/api/metrics`.
      security: [{ MetricsToken: [] }]
      responses:
        "200":
          description: Prometheus text format
        "401":
          description: Missing or invalid token (when METRICS_TOKEN is set)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/auth/me:
    get:
      tags: [Account]
      summary: Session probe — current user or unauthenticated
      security: [{ SessionCookie: [] }]
      responses:
        "200":
          description: "{ authenticated, user? }"
  /api/auth/config:
    get:
      tags: [Account]
      summary: Public auth UI config (registration, password policy)
      responses:
        "200":
          description: "{ registrationEnabled, passwordMinLength, … }"
  /api/license/status:
    get:
      tags: [Account]
      summary: Sanitized license status (logged-in users)
      security: [{ SessionCookie: [] }]
      responses:
        "200":
          description: "{ valid, status, message, expiresAt? }"
        "401":
          description: Not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/servers/stats:
    get:
      tags: [Client]
      summary: Aggregate server stats for dashboard (cache-only)
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      responses:
        "200":
          description: Stats map for visible servers
  /api/servers/online:
    get:
      tags: [Client]
      summary: Online player counts (cache-only bulk)
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      responses:
        "200":
          description: "{ online: Record<serverId, count> }"
  /api/servers/updates:
    get:
      tags: [Client]
      summary: Jar update availability for visible servers
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      responses:
        "200":
          description: Update info per visible server
  /api/servers/addon-updates:
    get:
      tags: [Client]
      summary: Addon update counts (TTL-cached)
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      responses:
        "200":
          description: Available addon update counts
  /api/auth/login:
    post:
      tags: [Account]
      summary: Password login (may park for 2FA)
      security: [{ SessionCookie: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username: { type: string }
                password: { type: string }
                rememberMe: { type: boolean }
      responses:
        "200":
          description: "{ ok, user? } or { twoFactorRequired: true }"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Login rate limited
  /api/auth/logout:
    post:
      tags: [Account]
      summary: End session
      security: [{ SessionCookie: [] }]
      responses:
        "200":
          description: "{ ok: true }"
  /api/auth/register:
    post:
      tags: [Account]
      summary: Self-serve registration (when enabled)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password, acceptTerms]
              properties:
                username: { type: string }
                email: { type: string, format: email }
                password: { type: string }
                acceptTerms: { type: boolean }
      responses:
        "201":
          description: Account created (may require email verify)
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/servers/{id}/addons:
    get:
      tags: [Client]
      summary: List installed addons
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "200":
          description: "{ installed, type, mcVersion, kind }"
  /api/servers/{id}/world/seed:
    get:
      tags: [Client]
      summary: Read world seed info
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "200":
          description: Seed metadata
  /api/servers/{id}/disk:
    get:
      tags: [Client]
      summary: Disk usage breakdown
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "200":
          description: DiskUsageBreakdown
  /api/servers/{id}/connect:
    get:
      tags: [Client]
      summary: Join address / SFTP connection hints
      security: [{ ClientApiKey: [] }, { SessionCookie: [] }]
      parameters:
        - $ref: "#/components/parameters/ServerId"
      responses:
        "200":
          description: Connection details
